.you-tube-preview-wrapp {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  overflow: hidden
}
.you-tube-preview .overlay {
  background-color: rgba(0, 0, 0, 0.537);
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}
.you-tube-preview-wrapp iframe {
  position: relative;
  width: 100%;
  height: 70vh;
  z-index: 99999999;
}
