.product-video .modal-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  backdrop-filter: blur(4px);
}
.product-video .modal-content {
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.product-video .modal-overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}
.product-video .modal-content.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.product-video .modal-close,
.product-video .modal-close:hover {
  position: absolute;
  background-color: var(--secondary);
  color: var(--primary);
  top: 10px;
  right: 10px;
}
.product-video .video-container {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}
.product-video .modal-content video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 425px) {
  .product-video .modal-content video {
    height: 100%;
  }
  .vjs-big-play-centered {
    height: 500px !important;
  }
}
