.hrms-landing .header {
  background: rgb(248, 246, 252);
}
.hrms-landing .header img {
  height: 470px;
}
.hrms-landing-about .img-box {
  position: relative;
  max-width: 440px;
  width: 100%;
}
.hrms-landing-about .img-box img {
  z-index: 9;
}
.hrms-landing-about .img-box .img-mask {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: -30px;
  background-color: rgb(233, 233, 255);
}
.hrms-landing-platform .card {
  min-width: 220px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(233, 233, 255);
}
.hrms-landing-platform .card .img-box {
  width: 72px;
  height: 72px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.hrms-landing-pricing {
  background: rgb(248, 246, 252);
}
.hrms-landing-pricing .unlimited {
  background-color: var(--color-primary);
}
.hrms-landing-pricing .unlimited .unlimited-badge {
  background-color: aqua;
}

.hrms-landing-pricing .card .card-content span {
  font-size: 18px;
}
.hrms-landing-pricing .check {
  background-color: aqua;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  font-size: 13px;
  font-weight: 800;
  color: var(--color-primary);
}
.hrms-landing .slider-overlay {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}
.hrms-landing .img-form {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding: 40px 0;
}
.hrms-landing .carusel-landing .img-box {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hrms-landing .carusel-landing .swiper-slide {
  background: transparent;
  height: 100% !important;
}
.hrms-landing .carusel-landing .swiper-slide img {
  width: 290px;
  height: 600px !important;
  border-radius: 20px;
  filter: brightness(0.5);
}
.hrms-landing .carusel-landing .swiper-slide-active img {
  border-radius: 50px;
  z-index: 999 !important;
  top: 0;
  left: 0;
  filter: brightness(1);
}
.hrms-landing .carusel-landing .img-box .bg-img {
  width: 100%;
  height: 100%;
}
.hrms-landing .carusel-landing .img-box .slider-img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 20px;
}
@media only screen and (max-width: 990px) {
  .hrms-landing .header {
    text-align: center;
  }
  .hero_slider img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  .hrms-landing .header img {
    width: 250px;
    height: auto;
  }
  .hrms-landing-about {
    text-align: center;
  }
}
