.hrms .download-btn {
  background: var(--secondary);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0px 25px;
  height: 55px;
  cursor: pointer;
  margin: 10px 0;
}
.hrms .download-btn img {
  width: 20px;
  object-fit: cover;
}
.hero_slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero_slider .mySwiper {
  height: 500px;
}
.hero_slider .mySwiper .slider-item {
  height: 500px;
}
.hero_slider .mySwiper .slider-item {
  background-color: transparent;
}
.hero_slider .mySwiper .swiper-button-prev,
.hero_slider .mySwiper .swiper-button-next {
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.hero_slider .mySwiper .swiper-button-prev::after,
.hero_slider .mySwiper .swiper-button-next::after {
  color: var(--primary);
  font-size: 22px;
}
.hrms-about .img-box img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.hrms-archive .archive-card {
  max-width: 1000px;
  margin: auto;
  height: 200px;
  transform: translateY(50px);
}
.hrms-archive .archive-card .card-item {
  border-right: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
}

.feature .cards .card {
  max-width: 450px;
  width: 100%;
}

.feature .cards .card-top {
  transform: translateY(100px);
  z-index: 99;
}
.feedback .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback .feedback-cards {
  transform: translateY(80px);
}
.pricing .unlimited .start-btn {
  background: var(--secondary);
}
.pricing .card .card-content span {
  font-size: 18px;
}

.get-app .container {
  max-width: 1000px;
  height: 300px;
  z-index: 99;
}
.get-app .img-box {
  margin-bottom: -150px;
}
.get-app .img-box img {
  width: 350px;
  z-index: -1;
}
.get-app .img-box img:first-child {
  transform: rotate(-30deg);
  margin-right: -50px;
}
.get-app .img-box img:last-child {
  transform: rotate(30deg);
  margin-left: -50px;
}
@media only screen and (max-width: 1100px) {
  .get-app .img-box img {
    width: 280px;
    z-index: -1;
  }
}

@media only screen and (max-width: 990px) {
  .hrms-hero {
    text-align: center;
  }
  .hero_slider img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  .hrms-hero img {
    width: 320px;
  }
  .hrms-about {
    text-align: center;
  }
  .hrms-archive .archive-card {
    transform: translateY(0);
    height: 450px;
  }

  .feature .cards .card-top {
    transform: translateY(0);
    z-index: 99;
  }
  .feature .card .card-head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feedback .card {
    text-align: center;
    margin: 10px 0;
  }
  .feedback .feedback-cards {
    transform: translateY(0);
  }
  .pricing .price-box {
    width: 150px;
    height: 150px;
  }
  .pricing .price-box h1 {
    font-size: 40px;
  }
  .get-app .img-box {
    margin-bottom: -100px;
  }
  .get-app .img-box img {
    width: 150px;
    z-index: -1;
  }
}
@media only screen and (max-width: 768px) {
  .hrms-archive .archive-card .card-item {
    border: 0;
  }
  .hrms .download-btn {
    padding: 10px 20px !important;
  }
  .hrms .download-btn img {
    width: 20px;
    object-fit: cover;
    transform: translateX(5px);
  }
}
@media only screen and (max-width: 425px) {
  .hero_slider img {
    width: 320px;
    object-fit: contain;
  }
  .pricing .price-box {
    width: 100px;
    height: 100px;
  }
  .pricing .price-box h1 {
    font-size: 30px;
  }
  .get-app .img-box {
    margin-bottom: 0;
  }
  .get-app .img-box img {
    display: none;
  }
  .pricing .card .card-content span {
    font-size: 15px;
  }
  .pricing .card .card-bottom {
    text-align: center;
  }
}
