.service-item {
  background: var(--secondary) !important;
}
.service-item:hover {
  box-shadow: 3px 3px 10px #ddd;
  transform: translateY(-10px);
}
.services-page {
  background: var(--primary);
}
.service-item h1 {
  color: var(--primary);
}
.service-item p {
  color: #2d2d2d;
}
.service-item .btn {
  border: 2px solid var(--primary);
  color: #fff;
  background: var(--primary) !important;
}
.service-item .btn:hover {
  color: #fff;
}
