.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-slider {
  position: relative;
}
.navigationBox .swiper-button-prev {
  display: none;
}
.navigationBox .swiper-button-prev,
.navigationBox .swiper-button-next {
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
}
.navigationBox .swiper-button-prev::after,
.navigationBox .swiper-button-next::after {
  color: var(----bs-blue);
  font-size: 17px;
}
