.hrms-doc {
  overflow: hidden;
}
.hrms-doc .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.hrms-doc-sidebar {
  max-width: 280px;
  width: 100%;
  width: 100vh;
  background: var(--primary);
  color: #fff;
}
.hrms-doc-sidebar .side-head {
  border-bottom: 1px solid rgb(180, 180, 180);
}
.responsive-navbar {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--primary);
  border-bottom: 1px solid rgb(215, 215, 215);
  display: none;
  align-items: center;
  justify-content: space-between;
}
.hrms-doc-sidebar .accordion .head i {
  transform: rotate(-90deg);
  transition: 0.2s;
}
.hrms-doc-sidebar .accordion .head i.active {
  transform: rotate(0deg);
}

.doc-content {
  overflow: auto;
}
.hrms-doc code {
  color: #2f2f2f;
  background: #00000024;
  padding: 0 3px;
  margin: 0 1px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  font-weight: 500;
  font-size: 0.9em;
}
.doc-list li.title code {
  color: #292929;
  font-size: 12px;
  background: none;
  border: none;
  padding: 0;
}

.sidenote {
  flex-grow: 1;
  position: sticky;
  align-self: flex-start;
  top: 0;
  padding-top: 50px;
}

.sidenote .box {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
  margin-bottom: 12px;
  margin-top: 24px;
}
.sidenote .box .title {
  background: rgb(219, 219, 219);
  font-weight: 500;
  color: rgb(76, 76, 76);
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.sidenote .s2 {
  color: rgb(0, 150, 35);
}
.doc-list .content > .doc-list {
  border: 1px solid rgb(219, 219, 219) !important;
  border-radius: 0 0 8px 8px;
  margin: 0;
}
.doc-list .content > h5 {
  margin: 0;
  margin-top: 12px !important;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
  padding-top: 10px;
}
.ovaylay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff94;
  backdrop-filter: blur(10px);
  z-index: 999;
}
.search-wrapp {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.search-box {
  margin-top: 100px;
  background-color: #282828;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 1px 8px rgba(11, 11, 11, 0.7);
  width: 500px;
}
.search-box input {
  border: 1px solid #535353;
  background: #202020;
  padding: 8px 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 25px;
  width: 100%;
}
#search-container .hints {
  display: flex;
  justify-content: space-between;
}
#search-container .hints li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 8px;
  color: #999;
}
@media only screen and (max-width: 830px) {
  .hrms-doc-sidebar {
    position: absolute;
    transition: 0.5s;
    height: 100vh;
    left: -100%;
    z-index: 99;
  }
  .responsive-navbar {
    display: flex;
  }
  .hrms-doc-sidebar.show {
    left: 0;
  }
  .hrms-doc-sidebar .side-head {
    display: none;
  }
  .hrms-doc-sidebar .side-body {
    margin-top: 70px;
  }
}
