.evets {
  background: rgb(239, 236, 245);
}

.evets .filter-btns button {
  border: 2px solid var(--color-primary);
  font-size: 14px;
  padding: 4px 15px;
  color: var(--color-primary);
  letter-spacing: 0.5px;
}
.evets .filter-btns button.btn-active {
  border: 2px solid rgb(41, 237, 255);
  background: rgb(41, 237, 255);
}
.evets .filter-cards .card span {
  font-size: 13px;
}
.evets .filter-cards .card h5 {
  letter-spacing: -1px;
}
.evets .filter-cards .card p {
  font-size: 14px;
}
.evets .card .status {
  background: rgb(41, 237, 255);
  display: inline;
}
.evets .card .btn {
  padding: 9px 18px;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 15px;
}

.evets form input {
  max-width: 400px;
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 1px solid #000;
}
.evets form button {
  padding: 8px 20px;
  font-size: 14px !important;
  letter-spacing: 0.8px;
  border-radius: 12px;
}
.evets form input::placeholder {
  font-size: 12px;
}
.evets .form-box span {
  font-size: 12px;
}
