.hero-widgets {
  width: 100%;
  height: 600px;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center;
}
.hero-widgets .ovarlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000083;
}
.hero-widgets h2 {
  font-size: 55px;
}
.hero-widgets h2.number {
  font-size: 65px;
}
@media (max-width: 768px) {
  .hero-widgets h2 {
    font-size: 35px;
    text-align: center;
  }
  .hero-widgets h2.number {
    font-size: 45px;
  }
}
