.products {
  background: var(--primary);
  min-height: 600px;
}
.products .section-title {
  font-size: 60px;
}
.products li {
  list-style: none;
}
.products .list-item {
  transition: 0.5s all;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: start;
  gap: 20px;
  padding: 40px 0px;
  transition: 0.3s all;
}
.products .list-item:hover {
  border-bottom: 1px solid var(--secondary);
}
.products .list-item .number {
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .list-item .card-head {
  width: 200px;
}
.products .list-item p {
  margin: 0;
}
.products .show-more {
  background: var(--secondary);
  margin: 20px auto;
  font-weight: 500;
  transition: 0.3s;
}
.products .show-more:hover {
  background: var(--secondary);
  opacity: 0.8;
}
@media (max-width: 768px) {
  .products {
    height: auto;
  }
  .products .section-title {
    font-size: 40px;
  }
}
