.services-detail main {
  background: url(https://elbrusboot.camp/static/eb35e8cb31776704695ee29be32c912e/90964/devintro-desktop-large.webp)
    no-repeat center;
  background-size: auto;
  width: 100%;
  height: 585px;
  display: flex;
  align-items: center;
}
.services-detail .services-title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -2px;
}
.services-detail button {
  letter-spacing: 0.7px;
  color: #000;
  font-size: 13px !important;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 15px;
}
.services-detail .icon-box {
  min-width: 56px;
  height: 56px;
  background-color: var(--color-primary);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-size: 25px;
}
.training-program .slider-card {
  background: rgb(248, 246, 252);
  height: 220px;
}

.training-program .slider-card .card-title {
  font-size: 22px;
  letter-spacing: -1px;
}
.training-program .slider-card .card-head span {
  font-size: 14px;
}
.training-program .slider-card .icon {
  background: rgb(237, 228, 253);
}
.services-detail .swiper-button-prev-services-detail,
.services-detail .swiper-button-next-services-detail {
  background-color: var(--color-primary);
  color: #fff;
  padding: 7px 17px;
  font-size: 22px !important;
  border-radius: 10px;
  border: 0;
}
.services-detail .tools img {
  width: 200px;
}
.services-detail .bootcamp-content {
  background: rgb(248, 246, 252);
}
.services-detail .check-icon {
  background-color: aqua;
  min-width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  font-size: 13px;
  font-weight: 800;
}
.services-detail .bootcamp-content span {
  font-size: 14px;
}
.training-format .card {
  height: 300px;
}
.training-format .card .card-content {
  z-index: 999;
}
.training-format .card span {
  background: rgb(255 255 255 / 14%);
  font-size: 13px;
  margin: 0;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
}
.js-course p {
  font-size: 18px;
}
.js-course .card .card-badge {
  background-color: rgb(233, 233, 255);
}
.js-course .card ul li {
  font-size: 15px;
}
.js-course .card button {
  font-size: 15px !important;
}
@media (max-width: 992px) {
  .services-detail main {
    height: 350px;
  }
  .services-detail .services-title {
    font-size: 56px !important;
    font-weight: 700 !important;
  }
  .services-detail .icon-box {
    min-width: auto;
    height: auto;
    font-size: 12px;
  }
  .services-detail .card-desc {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .services-detail .services-title {
    font-size: 36px !important;
    text-align: center;
  }
  .services-detail .tools img {
    width: 100%;
  }
  .js-course p {
    font-size: 13px;
  }
  .js-course h4 {
    font-size: 16px;
  }
  .services-detail .check-icon {
    min-width: 22px;
    height: 22px;
    border-radius: 7px;
    font-size: 11px;
  }
}
