.products2 {
  min-height: 100vh;
  background: rgb(239, 236, 245);
}
.products2 .products-card {
  background: #fff;
  padding: 25px;
  max-width: 536px;
  width: 100%;
  min-height: 350px;
  border: 0;
  border-radius: 1rem;
  box-shadow: rgba(227, 225, 237, 0.68) -2px -2px 7px,
    rgba(223, 221, 231, 0.76) 1px 1px 10px;
}
.products-card .card-head img {
  height: 160px;
}
.products-card .card-name {
  font-size: 24px;
}
.products-card p {
  font-size: 14px;
}
.products-card .btn {
  padding: 10px 30px;
  font-size: 14px !important;
  letter-spacing: 0.8px;
}
@media (max-width: 425px) {
  .products-card {
    padding: 17px;
  }
  .products-card .card-head img {
    height: 100px;
  }
}
